.container {
    display: grid;
    grid-auto-columns: minmax(60px, auto);
    grid-gap: 10px 10px;
    align-content: center;
    grid-template-rows: auto;
    padding: 10px;
}

.container__item {
    background-color: #fff;
    padding: 10px;
    margin: -4px 0px;
}

.container__header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin: -4px 0px;
}
@media(max-width: 767px) {
    .container__header{
        grid-template-columns: 1fr;
    }
    .container__button {
          display: flex;
          flex-basis: 100%;
          flex-wrap: wrap;
          justify-content: center;
    }
    
}

.container__heading {
    font-weight: 900;
    font-size: 18px;
    padding: 5px;
    margin: 5px 10px;
}

.container__button {
    color: teal;
    margin: -4px 0px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;    
}

.container__button:hover {
    color: hsl(180, 100%, 35%);
}

.container__button:disabled {
    color: rgb(205, 205, 205)
}