.form {
   display: flex;
   flex-direction: row;
   align-items: center;

}

.form__button {
    background: teal;
    color: white;
    flex-grow: 0;
    padding: 10px;
    font-size: 15px;
    border: none;
}

.form__input {
    padding: 10px;
    margin: 5px 10px; 
    flex-grow: 1;
    border: 1px solid #ddd;
   
}

.form__input::placeholder {
    color: rgb(179, 176, 176);
}